@font-face {
  font-display: fallback;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  src: url('@/assets/fonts/Poppins-Light.ttf') format("truetype");
}

@font-face {
  font-display: fallback;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/Poppins-Medium.ttf') format("truetype");
}
