body {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  color: var(--contrast-color);
  background-color: var(--bg-color);

  @media (max-width: 849px) {   
    font-size: 16px;
  }

  svg {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    display: inline-block;
  }
  
  h1 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 24px;
    position: relative;
  
    @media (max-width: 849px) {   
      font-size: 2em;
    }
  }
  
  h2 {
    font-size: 1.7em;
    font-weight: 500;
    margin: 40px 0 16px 0;

    @media (max-width: 849px) {   
      font-size: 1.5em;
    }
  }
  
  h3 {
    font-size: 1.4em;
    font-weight: 500;
    margin: 32px 0 16px 0;

    @media (max-width: 849px) {   
      font-size: 1.2em;
    }
  }
  
  h1, h2, h3, h4, h5 {
    svg {
      font-size: 32px;
      margin-right: 16px;
    }

    a {
      color: var(--contrast-color);
    }
  }
  
  p {
    margin-bottom: 16px;
    line-height: 1.8em;
  }
  
  a {
    text-decoration: none;
    color: var(--highlight-color);
  }
  
  blockquote {
    border-left: solid 4px var(--contrast-color);
    padding-left: 16px;
    font-style: italic;
  }

  strong {
    font-weight: 500;
  }

  ul, ol {
    margin-left: 24px;
    margin-bottom: 16px;

    li {
      line-height: 1.5em;
    }
  }

  ul {
    li {
      list-style: disc;
    }
  }

  ol {
    li {
      list-style: decimal;
    }
  }

  pre {
    padding: 16px;
    background-color: #303030;
    border-radius: 4px;
    margin-bottom: 16px;
  }

  em {
    font-style: italic;
  }
}
